html, body {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
background-color: #8abbff;

}

main {
    width: 1200px;
    height: 650px;
    padding: 10px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;



background-color: white;
border-radius: 5px;

}

#container-header {
display: flex;
flex-direction: column;
align-items: center;
font-family: Verdana, Tahoma, sans-serif;
}

#text-title {
    color: black;
}

input {
padding: 5px;
outline: none;

}

button {
    padding: 5px;
    outline: none;
    cursor: pointer;
}

img {
    min-width: 120px;
    
    
}

.content {

    display: flex;
    flex-direction: column;
    align-items: center;    
    border-radius: 5px;
    margin-top: 10px;
    word-break: break-all;
    width: 860px;
    height: 480px;
    background-color: rgb(0, 41, 177);
    -webkit-box-shadow: 5px 5px 15px 5px #FFFFFF; 
box-shadow: 5px 5px 15px 5px #4e4e4e;

}

.divForm {
    display: flex;
}

#container-input-button {
  display: flex;    
  justify-content: center;
  border: solid 1px black;
  
}

#city {
z-index: 1;
border-radius: 5px;
background-color: rgba(255, 255, 255, 0.1);
text-align: center;
font-family: Verdana, Tahoma, sans-serif;
padding: 10px;
color: white;
font-weight: 500;
}

#degree {
font-family: 'Arial';
font-size: 80px;
color: white;
width: 280px;

}

.container-degree-img {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    
}



.campoImg {

    width: 50%;

}

.descriçãoTempo {
display: flex;
flex-direction: column;
}

.description-degree {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img-degree-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.1);
    width: 65%;
    height: 65%;
    border-radius: 5px;
}

.degree-e-decricao {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.descricaoTempo {
    color: white;
    font-size: 28px;
    font-family: Verdana, Tahoma, sans-serif;
}


.containerTempo {
display: flex;
width: 100%;
height: 100%;
align-items: center;
flex-direction: column;
justify-content: space-evenly;

}

.info-extras {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-around;
    width: 95%;
    

    
}

.min-temp, .max-temp, .feels-temp, .humidity-temp,
.pressure-temp, .wind-temp, .speed-wind {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;    
    font-size: 18px; 
    font-family: Verdana, Tahoma, sans-serif; 
    font-weight: 520;
    color: white;
    z-index: 1;
}

.container-temp-min, .container-temp-max, 
.container-temp-feels, .container-temp-humidity, 
.container-temp-pressure, .container-temp-wind {
    display: flex;    
    border-radius: 5px;
    justify-content: center;
    align-items: center;    
    padding: 6px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1) ;
    
    
}

.fa-temperature-low, .fa-temperature-high, 
.fa-temperature-half, .fa-droplet, .fa-gauge, 
.fa-wind {
    font-size: 20px;
    margin: 5px 0 5px 5px;
    z-index: 1;
}

#icon-e-min, #icon-e-max, #icon-e-feels, #icon-e-humidity, 
#icon-e-pressure, #icon-e-wind {
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1;   
}

#text-min-temp, #text-max-temp, 
#text-feels-temp, #text-humidity-temp, 
#text-pressure-temp, #text-wind-temp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    z-index: 1;
    
}

